Teste.py
Teste2.py
Compartilhados/__pycache__/utilitarios.cpython-38.pyc
Compartilhados/Excecoes/__pycache__/valoresInvalidosException.cpython-38.pyc
Controladores/__pycache__/NavesControlador.cpython-38.pyc
Repositorio/Repositorios/__pycache__/NavesRepositorio.cpython-38.pyc
Repositorio/Repositorios/__pycache__/NavesRepositorio.cpython-38.pyc
Repositorio/Repositorios/__pycache__/NavesRepositorio.cpython-38.pyc
Servicos/__pycache__/NavesServico.cpython-38.pyc
